*{
    margin: 0;
    padding: 0;
}
ul{
  list-style: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  position: relative;
}
.users-box{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0 20px;
  position: fixed;
  top: 30px;
  right: 20px;
}
.user-image{
  margin-left: -5px;
  width: 50px;
  border-radius: 50%;
  background-color: #ededed;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.user-image img:first-child {
  margin-left: 0;
}
.columns{
  display: flex;
  height: 85vh;
  /* gap: 20px; */
  position: relative;
  top: 10%;
}
.column{
  background-color: #ededed;
  border-radius: 5px;
  width: 20vw;
  padding: 20px;
  box-sizing: border-box;
  user-select: none;
  overflow-x: hidden;
}
.column-header{
  padding: 0 0 20px 0;
}
.task{
  box-sizing: border-box;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  line-height: 1.4em;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.task-description{
  background-color: #ffdac7;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.task-assignee{
  background-color: #e1e1c8;
  display: inline;
  padding: 5px;
  border-radius: 5px;
}
.task-box{
  display: flex;
  justify-content: space-between;
}
.task-image{
  width: 40px;
  border-radius: 50%;
  background-color: #ededed;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.task-deadline{
  margin-top: 15px;
}
.add-column-box{
  text-align: center;
}
.add-column-title{
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  border: none;
}
.add-column-btn{
  padding: 10px;
  background-color: #dadada;
}
.add-task-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30%;
  height: 30%;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  overflow-y: auto;
  z-index: 1000;
}
.close-box{
  width: 100%;
  margin-bottom: 20px;
}
.close-btn{
  float: right;
}
.add-task-lable{
  width: 100%;
  margin-bottom: 20px;
}
.add-task-input{
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid grey;
}
.add-task-input::placeholder {
  color: #6a6969;
  font-size: 1.2em;
}
.add-task-textarea{
  width: 100%;
  height: 100px;  
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
  resize: none;
}
.add-task-textarea::placeholder {
  color: #6a6969;
  font-size: 1.2em;
}
.select-date-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.add-task-select{
  padding: 10px;
  outline: none;
}
.add-task-date{
  padding: 8.5px;
}
.add-task-btn{
  padding: 10px;
  margin: 0 auto;
}
.add-column-box label{
  display: block;
  opacity: 0;
  width: 0%;
  transition: all 0.5s;
}
.add-column-box .active{
  opacity: 1;
  width: 100%;
}
.column-dropzone{
  border-radius: 5px;
  width: 40px;
  margin: 0;
  box-sizing: border-box;
  border: none;
  opacity: 0;
  transition: all 0.1s;
}
.column-dropzone.hover{
  width: 20vw;
  border: 3px dashed lightgray;
  opacity: 1;
  margin: 0 20px;
}
.dragged{
  opacity: 0.5;
}
.refresh-btn{
  font-size: 25px;
  padding: 3px 5px 3px 8px;
  margin-right: 20px;
}
.search{
  margin: 20px 0;
  padding: 10px;
  width: 45%;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #ededed;
  position: fixed;
}